<%- include('../../partials/header') %>
<%- include('../../partials/sidebar') %>


<div class="container content-container">
    <h1>College rankings</h1>
</div>



<%- include('../../partials/footer') %>